@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(17, 17, 17);
    box-sizing: border-box;
}

*{
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}